.personHeader {
    border:2px solid black;
    display:inline-block;
    margin:2px;
    background-color: #eff;
    border-image: url(corner_border_cyber_blue.png) 12% 8% 8% 8% round;
    border-width: 14px;

}
.personHeaderText {
    font-family:Arial;
    padding: 2px;
    font-size:16px;
    color:black;
    font-weight:bold;
    text-align:center
}

.personBadgeHolder {
    display:inline-block;
    background-repeat: no-repeat;
    padding:4px;
    margin:4px;
    position:relative;
    /*border:1px solid black;*/
}

.personBadgeHolderMeatball {
    color:white;
    opacity:0.85;
    font-weight:bold;
    text-align:center;
    position:absolute;
    background-color: #ffedc1;
    border:1px solid orange;
}
.personBadgeHolderText {
    font-family:Arial;
    font-weight:bold;
    text-align:center;
    color:black;
    position:absolute;
}