<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gamification</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% block container %}
<div class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
<div class="container">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/gamification" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/users">Users</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/projects/django_geoq/badges">Badges</a>
            </li>
        </ul>
    </nav>
</div> <!-- container -->
</div>
<div class="row">
    <br/>
</div>
<div style="background: lightblue;">
<div class="page-header" id="top-banner">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <img src="{% static 'img/title.png' %}" /><br/>
            <p>Award Your Users</p>
        </div>
    </div>
</div>
    </div>
{% block content %}Empty page{% endblock %}
{% endblock %}
</body>
</html>
