{% extends 'core/base.html' %}
{% block content %}

<style>
    .badge-row {
        padding:5px; border:1px solid gray
    }
    .badge-row h4 {
        margin: 0px 0px 5px 0px;
    }
    .badge-row:nth-child(even) {
        background-color: lightcyan;
    }
    .badge-row:nth-child(odd) {
        background-color: lightyellow;
    }
    .badge-row span.dtg {
        display: inline; padding: 0px;
    }
    .badge-row span.awardee {
        display: inline; padding: 0px; width: 150px;
    }
    .badge-row span {
        display: inline-block; vertical-align: top; padding:10px;
    }
</style>

{# List all Top 5 Badge Winners, if they exist #}
{% for top_badge in top_n_badges %}
<div class="row badge-row">
    <span style="width: 100px;">
        <img src="/static/{{  top_badge.badge__icon|default:'badge_icons/default.png' }}" width="90"/>
    </span>
    <span style="width: 500px;">
        <b>{{ top_badge.name|capfirst }}</b><br/>
        <i>{{ top_badge.description|capfirst }}</i>
    </span>
    <span>
        {% if not top_badge.leaders %}
            <i>No badges assigned yet</i>
        {% else %}
            <h4>Top Badge Recipients:</h4>
            {% for leader in top_badge.leaders %}
                <li><b>{{ leader.user__username|capfirst }} </b>: <i>(Received {{ leader.awarded }} time{{ leader.awarded|pluralize }})</i></li>
            {% endfor %}
        {% endif %}
    </span>
</div>
{% endfor %}

    <hr/>

{% for awardee,badges in badge_awards %}
<div class="row badge-row">
    <span style="width: 100px;"><b>{{ awardee|capfirst }}</b></span>
    <span>
        <b>{{ badges|length }} Badge{{ badges|pluralize }}:</b>
        {% for badge in badges %}
            <li><span class="awardee"><b>{{ badge.badge|capfirst }}</b></span>: <span class="dtg">{{ badge.date }}</span></li>
        {% endfor %}
    </span>
</div>
{% endfor %}

<script>
    $(document).ready(function(){
        $('.dtg').each(function(){
            var $item = $(this);
            var dtg = $item.text();
            var time = moment(dtg);
            if (time.isValid()){
                var newtime = time.calendar();
                $item.text('Awarded '+newtime);
            }
        });
    });
</script>

{% endblock %}