{% extends "core/base.html" %}
{% block title %}Gamification Projects{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Created</th>
                    <th>Leaderboard</th>
                </tr>
                </thead>
                <tbody>
                {% for project in object_list %}
                <tr>
                    <td>
                        <a href='/projects/{{ project.name }}'>{{ project.name }}</a>
                    </td>
                    <td>
                        {{ project.description }}
                    </td>
                    <td>
                        {{ project.created_at }}
                    </td>
                    <td>
                        <a class="btn" href="/projects/{{ project.name }}"><i class="icon-list"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}



